{erl_opts, [debug_info]}.
{deps, []}.

{erl_opts, [debug_info]}.
{deps, []}.


% SHARED LIB: "make -C c_src/libsass BUILD=shared"
{pre_hooks,
  [
    {"(linux|darwin|solaris)", compile, "make -C c_src/libsass BUILD=shared"},
   {"(freebsd)", compile, "gmake -C c_src/libsass BUILD=shared"},
   {"win32", compile, "mingw32-make -C c_src/libsass BUILD=shared"},
   {"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"},
   {"win32", compile, "mingw32-make -C c_src"}]}.
% {post_hooks,
%   [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
%    {"(freebsd)", clean, "gmake -C c_src clean"}]}.